---
title: Мастика жидкийасфальт.рф
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "components/_header.html" %}
<!--begin l l--xs-->
<div class="l l--xs">
	<!--begin article-wrapper-->
	<div class="article-wrapper">
		<h1 class="title title--decor">Мастика 05</h1>
		<!--begin article-->
		<div class="article">
			<div>
				<img class="article__img" src="img/mastic-img.png" alt="">
				<p>Высокое профессиональное качество Холодной битумной мастики <strong>ЖИДКИЙ АСФАЛЬТ® - Мастика 05 способствует повышению производительности и качества дорожных работ. </strong>
				</p>
				<p>Рекомендуется для ремонта трещин и небольших выбоин (до 10 кв.см площадью и глубиной не более 10 мм).</p>
				<p>Применяется для предотвращения попадания влаги в трещины асфальта и её замерзания при низких температурах, с целью продления срока службы асфальта.</p>
			</div>
			<h2>Преимущества Мастики 05</h2>
			<p>Готовая к применению смесь с оптимальной вязкостью для наилучшего заполнения трещин легко наносится, имеет прекрасное сцепление с асфальтом, обладает отличными герметизирующими свойствами и сопротивляемостью к появлению трещин.</p>
			<ul class="dot-list">
				<li>Использовать Мастику 05 могут обычные люди, не имеющие специальных знаний и опыта.</li>
				<li>При ремонте трещин Мастикой 05 не требуется никакого специального теплового оборудования, всё наносится в холодном виде.</li>
				<li>Быстрота нанесения и высыхания, надёжность сцепления с дорогой и долговечность.</li>
				<li>Асфальт, с отремонтированными Мастикой 05 трещинами и покрытый затем герметизирующим покрытием  ЖИДКИЙ АСФАЛЬТ® - Защита 02, приобретает вид свежеуложенного и придаёт опрятный, нарядный вид Вашей территории.</li>
			</ul>
			<br>
			<h2>Расход</h2>
			<p>10 л на 100 м трещин толщиной до 10 мм и глубиной до 10 мм.</p>
			<br>
			<h2>Аксессуары и инструменты</h2>
			<p>Для нанесения Мастики 05 применяйте обычный малярный шпатель.</p>
			<br>
			<h2>Подготовка к работе</h2>
			<p><strong>Все работы должны проводиться при температуре окружающего воздуха не ниже + 5 °С и отсутствии  дождя в течение 1 суток после нанесения.</strong></p>
			<p>Перед началом работ огородите обрабатываемый участок так, чтобы исключить движение людей и транспорта в период проведения работ и минимум 6 часов после их окончания. </p>
			<p>Обрабатываемые трещины должны быть очищены от ростков растений, грязи, песка и пыли.</p>
			<p>Перед началом работы переверните ведро Мастики 05 вверх дном и хорошо растрясите. Откройте ведро и тщательно перемешайте содержимое до однородной массы.</p>
			<p>Заполните весь объём трещины мастикой и разравняйте поверхность.</p>
			<p>После высыхания Мастики 05, о чём будет говорить равномерный черный цвет, рекомендуется для продления срока службы мастики и самого асфальта покрыть весь участок герметизирующим покрытием  ЖИДКИЙ АСФАЛЬТ® - Защита 02.</p>
			<div class="imgs-section">
				<div class="imgs-section__item">
					<i>1</i>
					<img src="img/imgs-sec4.jpg" alt="">
				</div>
				<div class="imgs-section__item">
					<i>2</i>
					<img src="img/imgs-sec5.jpg" alt="">
				</div>
				<div class="imgs-section__item">
					<i>3</i>
					<img src="img/imgs-sec6.jpg" alt="">
				</div>
			</div>
			<h2>Время высыхания</h2>
			<p>Примерно 3-4 часа, в зависимости от толщины и глубины трещины, температуры и влажности воздуха.</p>
			<br>
			<h2>Хранение</h2>
			<p>Холодную битумную мастику ЖИДКИЙ АСФАЛЬТ® - Мастика 05 хранить в заводской упаковке с плотно закрытой крышкой в сухом помещении при температуре воздуха не ниже + 5 °С. </p>
			<p>Не замораживать!</p>
			<p>Срок хранения Мастики 05 – 1 летний сезон.</p>
			<br>
			<h2>Состав</h2>
			<p>Вода, битум дорожный, эмульсионные и адгезионные добавки, минеральные наполнители.</p>
			<br>
			<h2>Меры предосторожности</h2>
			<p>Пожаро-взрывобезопасен. При работе использовать средства индивидуальной защиты, очки, резиновые перчатки. При попадании на кожу или в глаза промыть большим количеством воды.</p>
			<p>Беречь от детей.</p>

		</div>
		<!--end article-->

	</div>
	<!--end article-wrapper-->


</div>
<!--end l l--xs-->

{% include "partials/_form-sec.html" %}
{% include "components/_footer.html" %}
{% include "components/_popup-form.html" %}
{% include "components/_popup-thank.html" %}
<a class="js-popup-thank js-popup-link" data-popup="popup-thank" href="#" style="display: none"></a>
{% endblock %}
