---
title: Защита жидкийасфальт.рф
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "components/_header.html" %}
<!--begin l l--xs-->
<div class="l l--xs">
	<!--begin article-wrapper-->
	<div class="article-wrapper">
		<h1 class="title title--decor">Защита 02</h1>
		<!--begin article-->
		<div class="article">
			<div>
				<img class="article__img" src="img/protect-img.png" alt="">
				<p>Высокое профессиональное качество Герметизирующего покрытия для асфальта ЖИДКИЙ АСФАЛЬТ® - Защита 02 способствует повышению производительности и качества дорожных работ. Рекомендуется для финишной отделки дорожных покрытий.</p>
				<p>Подходит для асфальтовых и бетонных покрытий тротуаров, пешеходных дорожек, площадок и парковок перед общественными зданиями, подъездов к коттеджам и гаражам, проездов и дорог с невысокой интенсивностью автомобильного движения.</p>
				<p>Применяется для герметизации поверхностей с целью продления срока службы асфальта путём предотвращения попадания влаги в поры и трещины асфальта и её замерзания при низких температурах, а также защиты от окисления и старения под воздействием ультрафиолетового излучения солнца.</p>
				
			</div>
			<h2>Преимущества Защиты 02</h2>
			<p>Готовая к применению смесь с оптимальной вязкостью для наилучшего нанесения тонкого финишного слоя. Рекомендуется наносить минимальной толщиной, максимальная толщина до 3 мм.</p>
			<p>Защита 02 легко наносится, имеет прекрасное сцепление с поверхностью, обладает отличными герметизирующими свойствами и сопротивляемостью к появлению трещин, заполняя существующие микротрещины.</p>
			<ul class="dot-list">
				<li>Использовать Защиту 02 могут обычные люди, не имеющие специальных знаний и опыта.</li>
				<li>При нанесении Защиты 02 на асфальт не требуется никакого специального теплового оборудования, всё наносится в холодном виде.</li>
				<li>Быстрота нанесения и высыхания, надёжность сцепления с дорогой и долговечность.</li>
				<li>Асфальт, покрытый Защитой 02 с предварительным использованием Мастики 05 - ЖИДКИЙ АСФАЛЬТ® для заделки трещин и небольших выбоин, приобретает вид свежеуложенного и придаёт опрятный, нарядный вид Вашей территории.</li>
			</ul>
			<h2>Расход</h2>
			<p>1 ведро на 15 – 30 кв.м в зависимости от состояния асфальтового покрытия.</p>
			<br>
			<h2>Аксессуары и инструменты</h2>
			<p>Для нанесения Защиты 02 применяйте гладилку с резиновым краем шириной 40 – 70 см</p>
			<br>
			<h2>Подготовка к работе</h2>

			<p><strong>Все работы должны проводиться при температуре окружающего воздуха не ниже + 5 °С и отсутствии  дождя в течение 1 суток после нанесения.</strong></p>
			<p>Все работы должны проводиться при температуре окружающего воздуха не ниже + 5 °С и отсутствии  дождя в течение 1 суток после нанесения.</p>
			<p>Обрабатываемая поверхность должна быть очищена от ростков растений, грязи, песка и пыли. Наилучшим решением является обеспыливание с помощью электрического сдувателя листьев и мойка асфальта электрической минимойкой типа Керхер.</p>
			<p>Отремонтировать трещины и небольшие выбоины (до 10 кв.см площадью и глубиной не более 1 см) с помощью холодной битумной мастики ЖИДКИЙ АСФАЛЬТ® - Мастика 05.</p>
			<p>При более значительных разрушениях проводится предварительный ямочный ремонт с использованием холодного либо горячего асфальта.</p>
			<p>Для того, чтобы не испачкать нижнюю часть бордюров, столбов и др., места их примыкания к асфальту оклейте бумажным скотчем.</p>
			<p>Перед началом работы переверните ведро Защиты 02 вверх дном и хорошо растрясите. Откройте ведро и тщательно перемешайте содержимое.</p>
			<p>Вылейте на край обрабатываемого участка 2-3 литра содержимого, и гладилкой с резиновым краем  равномерно распределяйте его по поверхности, стараясь покрыть участок асфальта тонким слоем без пропусков и образования луж из наносимого состава. «Защита 02» должен затечь во все неровности и микротрещины асфальта. Затем остатки с этого участка  тщательно сдвигайте на следующий участок. Постепенно добавляйте состав из ведра небольшими порциями. </p>
			<div class="imgs-section">
				<div class="imgs-section__item">
					<i>1</i>
					<img src="img/imgs-sec1.jpg" alt="">
				</div>
				<div class="imgs-section__item">
					<i>2</i>
					<img src="img/imgs-sec2.jpg" alt="">
				</div>
				<div class="imgs-section__item">
					<i>3</i>
					<img src="img/imgs-sec3.jpg" alt="">
				</div>
			</div>
			<h2>Время высыхания</h2>
			<p>Примерно 4-6 часов, в зависимости от температуры воздуха, влажности и толщины слоя.</p>
			<p>Свеженанесенный состав мажется и липнет, по нему категорически нельзя ходить и ездить до его полного высыхания.</p>
			<br>
			<h2>Хранение</h2>
			<p>Герметизирующего покрытия для асфальта ЖИДКИЙ АСФАЛЬТ® - Защита 02 хранить в заводской упаковке с плотно закрытой крышкой в сухом помещении при температуре воздуха не ниже + 5 °С. </p>
			<p>Не замораживать!</p>
			<p>Срок хранения Защиты 02 – 1 летний сезон.</p>
			<br>
			<h2>Состав</h2>
			<p>Вода, битум дорожный, эмульсионные и адгезионные добавки, минеральные наполнители.</p>
			<br>
			<h2>Меры предосторожности</h2>
			<p>Пожаро-взрывобезопасен. При работе использовать средства индивидуальной защиты, очки, резиновые перчатки. При попадании на кожу или в глаза промыть большим количеством воды.</p>
			<p>Беречь от детей.</p>
		</div>
		<!--end article-->

	</div>
	<!--end article-wrapper-->


</div>
<!--end l l--xs-->

{% include "partials/_form-sec.html" %}
{% include "components/_footer.html" %}
{% include "components/_popup-form.html" %}
{% include "components/_popup-thank.html" %}
<a class="js-popup-thank js-popup-link" data-popup="popup-thank" href="#" style="display: none"></a>
{% endblock %}
