		<!--begin advantages-sec-->
		<div class="advantages-sec">
			<!--begin l-->
			<div class="l">
				<h2 class="title">Преимущества <strong>нашей продукции</strong></h2>
				<div class="advantages-sec__inner">
					<ul class="check-list">
						<li><i></i><strong>Использовать нашу продукцию могут обычные люди</strong>, не имеющие специальных знаний и опыта.</li>
						<li><i></i>При нанесении нашей продукции на асфальт <strong>не требуется никакого специального теплового оборудования</strong>. Всё наносится в холодном виде.</li>
						<li><i></i><strong>Быстрота нанесения и высыхания. Надёжность сцепления с дорогой и долговечность.</strong></li>
						<li><i></i><strong>Наши продукты работают как в комплексе, так и раздельно</strong> – в зависимости от состояния старого покрытия</li>
						<li><i></i><strong>Наши средства существенно продлевают срок службы асфальта</strong>, что позволяет снизить расходы на его содержание и ремонт.</li>
						<li><i></i>Асфальтовое покрытие после обработки нашими продуктами приобретает вид свежеуложенного и придаёт <strong>опрятный, нарядный вид территории.</strong></li>
					</ul>
				</div>
			</div>
			<!--end l-->

		</div>
		<!--end advantages-sec-->
		