<!--begin aft-hero-sec-->
<div class="aft-hero-sec">
	<!--begin l-->
	<div class="l">
		<div class="article">
			<img src="img/aft-hero-img.jpg" alt="">
			<p>Не секрет, что асфальтовые покрытия, называемые общим термином асфальтобетон, имеют ограниченный срок эксплуатации, что мы ежедневно видим на наших дорогах. </p>
			<p>Это связано с тем, что асфальт, имеющий в своей основе битум, под воздействием атмосферных осадков, ультрафиолетового излучения солнца, перепадов температуры воздуха и интенсивной нагрузки от автотранспорта со временем разрушается. Битум, окисляясь, стареет, теряет свою эластичность и начинает трескаться. В микротрещины, образующиеся в результате воздействия перечисленных факторов, попадает атмосферная влага, которая при замерзании расширяется и увеличивает трещины ещё больше как в ширину, так и в глубину. </p>
			<p>Если не предпринимать никаких мер, то в дальнейшем каменные составляющие асфальта (щебёнка и т.п.) начинают выкрашиваться из слоя дорожного покрытия, образуются сначала небольшие ямки, а затем и большие выбоины на асфальте.</p>
			<p>В результате приходится тратить огромные средства на проведение восстановительного текущего либо  капитального ремонта дороги, заменяя верхние слои асфальтобетона частично или полностью, либо наносить новый слой асфальта.</p>
		</div>
	</div>
	<!--end l-->

</div>
<!--end aft-hero-sec-->
