		<!--begin form-sec-->
		<div class="form-sec bg-styles" style="background-image: url('img/low-bg.jpg')">
			<!--begin l-->
			<div class="l">
				<h3 class="title-l">Хотите узнать больше?</h3>
				<div class="form-decor">
					<h4 class="title-sm title-sm--orange title-sm--line"><span>Оставьте свои контактные данные</span></h4>
					<p>Наши менеджеры свяжутся с Вами и ответят на Ваши вопросы</p>
					<form action="mail.php">
						<div class="form-decor__inner">
							<div class="field ">
								<input class="js-form-field" type="text" name="name" placeholder="Ваше имя">
							</div>
							<div class="field ">
								<input class="js-form-field" type="text" name="phone" placeholder="Ваш телефон">
							</div>
							<button class="btn-simple" type="submit">Оставить заявку</button>
							
						</div>
					</form>
				</div>
			</div>
			<!--end l-->

		</div>
		<!--end form-sec-->
		