<!--begin hero-->
<div class="hero bg-styles" style="background-image: url('img/hero-bg.jpg');">
	
	<!--begin l-->
	<div class="l">
		<!--begin hslider js-hslider-->
		<div class="hslider js-hslider">
			<!--begin hslider__slide-->
			<div class="hslider__slide">
				<h2 class="hslider__title">Продляем срок службы асфальта на 5-7 лет <br> без перекладки</h2>
				<div class="hslider__inner">
					<div class="hslider__img">
						<img src="img/hero-slider3.png" alt="">
					</div>
					<div class="hslider__right">
						<ul class="dot-list">
							<li>Быстро: высыхает за 2 часа</li>
							<li>Надёжно: гарантия производителя</li>
							<li>Недорого: можно своими руками</li>
						</ul>
						<a class="btn-border" href="#">Узнать больше</a>
					</div>
				</div>
			</div>
			<!--end hslider__slide-->
			<!--begin hslider__slide-->
			<div class="hslider__slide">
				<h2 class="hslider__title">Новая технология продления срока службы асфальта</h2>
				<p class="hslider__sub-title">Экономичная альтернатива перекладке асфальта</p>
				<div class="hslider__inner">
					<div class="hslider__img">
						<img src="img/hero-slider3.png" alt="">
					</div>
					<div class="hslider__right hslider__right--sm">
						<ul class="dot-list">
							<li>Быстро</li>
							<li>Надёжно</li>
							<li>Своими руками</li>
						</ul>
						<a class="btn-border" href="#">Узнать больше</a>
					</div>
				</div>
			</div>
			<!--end hslider__slide-->


		</div>
		<!--end hslider js-hslider-->

	</div>
	<!--end l-->

</div>
<!--end hero-->
