		<!--begin home-prods-->
		<div class="home-prods bg-styles" style="background-image: url('img/hprod-bg.jpg');">
			<!--begin l-->
			<div class="l">
				<div class="article">
					<p>Весь процесс герметизации асфальтового покрытия состоит из решения двух основных задач – санации и ремонта трещин и непосредственно покрытия поверхности асфальта герметизирующим составом. </p>
				</div>
				<h2 class="title">Для этого мы предлагаем <strong>наши инновационные продукты:</strong></h2>
				<div class="home-prods__inner">
					<!--begin hprod-->
					<div class="hprod">
						<div class="hprod__img">
							<img src="img/prod1_new.png" alt="">
						</div>
						<p class="hprod__title">Защитное покрытие для асфальта</p>
						<a href="protect.html" >Защита 02  - герметизирующее покрытие для асфальта</a><br>
					</div>
					<!--end hprod-->
					<!--begin hprod-->
					<div class="hprod">
						<div class="hprod__img">
							<img src="img/prod2_new.png" alt="">
						</div>
						<p class="hprod__title">Мастика для трещин 
						в асфальтовых покрытиях</p>
						<a href="mastic.html" >Мастика 05  - холодная битумная мастика</a>
					</div>
					<!--end hprod-->

				</div>
			</div>
			<!--end l-->

		</div>
		<!--end home-prods-->
		