<!--begin how-work-->
<div class="how-work">
	<!--begin l-->
	<div class="l">
		<h2 class="title">Как <strong>это работает?</strong></h2>
		<!--begin how-work__inner-->
		<div class="how-work__inner">
			<!--begin decor-block-->
			<div class="decor-block">
				<div class="article article--sm-pad">
					<p>Никогда ещё процесс обновления асфальта и продления срока его эксплуатации не был таким простым, экономичным и эффективным!</p>
					<p>Наша технология включает в себя несколько простых и не сложных для любого человека операций:</p>
					<p>
						<ul>
							<li><strong>1.</strong> Очистите площадку от грязи, песка и пыли.</li>
							<li><strong>2.</strong> При наличии трещин на асфальте или старых швов прочистите их с помощью подручных средств и загерметизируйте  нашей "Мастикой для трещин", используя обычный шпатель.</li>
							<li><strong>3.</strong> Нанесите на поверхность асфальта защитное покрытие "Защита 0,2" или "Защита 0,5" (в зависимости от степени износа асфальта) тонким слоем с помощью гладилки с резиновой вставкой.</li>
							<li><strong>4.</strong> Огородите обработанный участок на время высыхания покрытия.</li>
							<li><strong>5.</strong> Наслаждайтесь прекрасным видом и отличным состоянием вашей площадки в течение нескольких лет!</li>
						</ul>
					</p>
				</div>
			</div>
			<!--end decor-block-->
			<div class="video-block">
				<iframe  src="https://www.youtube.com/embed/e2a1xmK5Qvc?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>

		</div>
		<!--end how-work__inner-->

	</div>
	<!--end l-->

</div>
<!--end how-work-->
