<!--begin low-price-->
<div class="low-price bg-styles" style="background-image: url('img/low-bg.jpg')">
	<!--begin l-->
	<div class="l">
		<p class="title-sm">Возможно ли снизить эти затраты?</p>
		<h3 class="title-md">Да и очень существенно – в разы и в десятки раз!</h3>
		<div class="low-price__inner">
		<div class="decor-block">
			<div class="article article--white">
				<p>		Решение проблемы называется англоязычным словом СИЛКОУТИНГ (seal coating), т.к. оно было найдено и впервые применено в США.</p>
				<p>По-русски это можно назвать герметизацией поверхности существующего асфальта в целях защиты его от отрицательных воздействий атмосферы и солнечного света, продления срока межремонтной эксплуатации дороги (под словом «дорога» мы здесь подразумеваем любые участки, покрытые асфальтобетоном – непосредственно проезжую часть дорог, тротуары, заасфальтированные дорожки, площадки, паркинги, гаражные стоянки, отмостки зданий, подъездные дорожки к частным котеджам и гаражам и др.) и придания им привлекательного вида.</p>

			</div>
		</div>
			
		</div>
	</div>
	<!--end l-->

</div>
<!--end low-price-->
