<!--begin pre-foot-->
<div class="pre-foot">
	<!--begin l-->
	<div class="l">
		<h2 class="title title--sm-font"><strong>Остались вопросы?</strong></h2>
		<p>Мы готовы рассказать Вам больше</p>
		<!--begin pre-foot__inner-->
		<div class="pre-foot__inner">
			<a class="link-orange" href="tel:+74994031127">
				<span>+7(499) 403-11-27</span>
			</a>
			<button class="btn btn--big js-popup-link" data-popup="popup-form">Обратный звонок</button>
			<ul class="socials">
				<a href="#">
					<i>
						{{mixins.icon('you')}}
					</i>
				</a>
				<a href="#">
					<i>
						{{mixins.icon('facebook')}}
					</i>
				</a>
				<a href="#">
					<i>
						{{mixins.icon('tw')}}
					</i>
				</a>
				<a href="#">
					<i>
						{{mixins.icon('vk')}}
					</i>
				</a>
				<a href="#">
					<i>
						{{mixins.icon('odn')}}
					</i>
				</a>
			</ul>
		</div>
		<!--end pre-foot__inner-->
	</div>
	<!--end l-->
</div>
<!--end pre-foot-->
