		<!--begin reviews-->
		<div class="reviews bg-styles" style="background-image: url('img/review-bg.jpg')">
			<!--begin l-->
			<div class="l">
				<div class="reviews__inner">
					<h2 class="title title--white">Отзывы <strong>о нашей продукции</strong></h2>


					<!--begin r-slider js-review-slider-->
					<div class="r-slider js-review-slider">
						<!--begin r-slider__slide-->
						<div class="r-slider__slide">
							<!--begin r-slider__slide-inner-->
							<div class="r-slider__slide-inner">
								<div class="r-slider__photo">
									<img src="img/review1.jpeg" alt="">
								</div>
								<div class="r-slider__right">
									<div class="r-slider__top">
										Антон Геннадьевич, <span>г.Подольск</span>
									</div>
									<p class="r-slider__date">27.05.2018</p>
									<div class="r-slider__text">
										<p>Покрыл участок дороги перед домом. Получилось красиво! Теперь все соседи спрашивают, что это такое. Думаю, до конца лета скинемся и сделаем всю дорогу с тротуарами.
										</p>
									</div>
								</div>
							</div>
							<!--end r-slider__slide-inner-->
						</div>
						<!--end r-slider__slide-->
						<!--begin r-slider__slide-->
						<div class="r-slider__slide">
							<!--begin r-slider__slide-inner-->
							<div class="r-slider__slide-inner">
								<div class="r-slider__photo">
									<img src="img/review2.jpeg" alt="">
								</div>
								<div class="r-slider__right">
									<div class="r-slider__top">
										 Станислав, <span>г.Тула</span>
									</div>
									<p class="r-slider__date">12.07.2018</p>
									<div class="r-slider__text">
										<p>Въезд в гараж имеет большой уклон (45°), но Защита 02 легла на удивление равномерно и без подтёков. 3 ведра нанёс легко за 1 час. Цвет - прямо супер чёрный. Я доволен. Рекомендую всем!
										</p>
									</div>
								</div>
							</div>
							<!--end r-slider__slide-inner-->
						</div>
						<!--end r-slider__slide-->
					</div>
					<!--end r-slider js-review-slider-->

				</div>
			</div>
			<!--end l-->

		</div>
		<!--end reviews-->
		