<!--begin why-we-->
<div class="why-we">
	<!--begin l-->
	<div class="l">
		<h2 class="title">Почему <strong>надо покупать у нас?</strong></h2>
		<div class="why-we__inner">
			<div class="why-we-item">
				<div class="why-we-item__img">
					<img src="img/why1.png" alt="">
				</div>
				<div class="why-we-item__text">
					<p>Мы поставляем только свежеизготовленные продукты под заказ.
					</p>
				</div>
			</div>
			<div class="why-we-item">
				<div class="why-we-item__img">
					<img src="img/why2.png" alt="">
				</div>
				<div class="why-we-item__text">
					<p>Наши цены позволяют обрабатывать большие площади с минимальными затратами.
					</p>
				</div>
			</div>
			<div class="why-we-item">
				<div class="why-we-item__img">
					<img src="img/why3.png" alt="">
				</div>
				<div class="why-we-item__text">
					<p>Только у нас вы можете приобрести материалы для силкоутинга, которые реально соответствуют заявленным свойствам.
					</p>
				</div>
			</div>
			<div class="why-we-item">
				<div class="why-we-item__img">
					<img src="img/why4.png" alt="">
				</div>
				<div class="why-we-item__text">
					<p>Мы проводим детальный инструктаж по применению нашей продукции и даём подробную инструкцию.</p>
				</div>
			</div>
		</div>
	</div>
	<!--end l-->

</div>
<!--end why-we-->
