<!--begin footer-->
<div class="footer">
	<!--begin l-->
	<div class="l">
		<!--begin head-foot-->
		<div class="head-foot">
			<a href="жидкийасфальт.рф" class="head-foot__logo">
				<img src="img/logo-new.png" alt="log1">
			</a>
			<ul class="head-foot__menu">
				<li class="is-active"><a href="#">Главная</a></li>
				<li><a href="#">Материалы</a></li>
				<li><a href="#">Как купить</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<div class="head-foot__contacts">
				<a href="tel:+74994031127">
					<i>{{mixins.icon('phone')}}</i>
					<span>+7(499) 403-11-27</span>
				</a>
			</div>
		</div>
		<!--end head-foot-->
		
	</div>
	<!--end l-->

</div>
<!--end footer-->
