.header
	background-color: rgba(#131418, 0.84) 
	border-bottom: 3px solid $orange2
	padding-top: 14px
	padding-bottom: 14px
	position: absolute
	left: 0
	top: 0
	width: 100%
	z-index: 10

.footer
	background: $black
	padding: 30px 0 30px
	.head-foot__menu
		position: relative
		top: -6px
		+m
			top: 0
.head-foot
	display: flex
	justify-content: space-between
	align-items: center
	font-size: 0
	+m
		display: block
		text-align: center
	&__logo
		display: block
		position: relative
		top: -7px
		+m
			top: 0
			margin-bottom: 20px
	&__menu
		+m
			margin-bottom: 20px
		li
			display: inline-block
			vertical-align: top
			margin: 0 19px
			position: relative
			+md
				margin:  0 10px
			+sm
				margin: 0 10px 10px
			&.is-active
				& > a, span
					color: $orange
			+rmin(1024)
				&:hover
					& > a, span
						color: $orange
		a, span
			font-size: 18px
			color: $white
			+trans
			cursor: pointer
	&__drop-menu
		position: absolute
		top: 100% 
		background: rgba(19,20,24,.84)
		width: 100%
		left: 0
		padding: 5px
		display: none
		z-index: 2
		text-align: left
		a
			font-size: 14px
			color: #fff
			font-weight: 700
			margin-bottom: 7px
			display: block
			+rmin(1024)
				&:hover
					color: $orange
			&:last-of-type
				margin-bottom: 0
	&__contacts
		text-align: right
		width: 195px
		+m
			margin-left: auto
			margin-right: auto
		+sm
			max-width: 205px
			width: auto
		.btn
			width: 100%
			display: block
			margin-top: 5px
		a
			display: block
			font-size: 20px
			color: $white
			position: relative
			padding-left: 29px
		
			width: 100%

			i
				display: block
				line-height: 1
				font-size: 0
				position: absolute
				left: 0
				top: 50%
				transform: translateY(-50%)
				svg
					font-size: 18px
					fill: $white